<div layout="column" layout-padding layout-align="center" layout-align-gt-md="center center">
    <div md-whiteframe="1" layout="column" layout-padding md-colors="{background: 'grey-A100'}">
        <div layout="column">
            <h3>Register</h3>
            <p md-colors="{color: 'red'}">{{errorMessage}}</p>
            <md-input-container>
                <label>Name</label>
                <input ng-model="fio"/>
            </md-input-container>
            <md-input-container>
                <label>Login</label>
                <input ng-model="login"/>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="password" type="password"/>
            </md-input-container>
        </div>
        <div layout="row">
            <md-button ng-click="register()" class="md-raised md-primary">Register</md-button>
            <md-button ng-click="back()">Cancel</md-button>
        </div>
    </div>
</div>